<h2 class="page-header">Register</h2>

{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form method="post" action="/customers/register">
    <div class="form-group">
        <label>email</label>
        <input type="email" class="form-control" palceholder="email" name="email">
    </div>

    <div class="form-group">
        <label>password</label>
        <input type="password" class="form-control" palceholder="password" name="password">
    </div>

    <div class="form-group">
        <label>confirm password</label>
        <input type="password" class="form-control" palceholder="password" name="password2">
    </div>

    <div class="form-group">
        <label>firstname</label>
        <input type="text" class="form-control" palceholder="firstname" name="firstname">
    </div>

    <div class="form-group">
        <label>lastname</label>
        <input type="text" class="form-control" palceholder="lastname" name="lastname">
    </div>

    <div class="form-group">
        <label>gender</label>
        <input type="text" class="form-control" palceholder="gender" name="gender">
    </div>

    <div class="form-group">
        <label>phoneNumb</label>
        <input type="text" class="form-control" palceholder="phoneNumb" name="phoneNumb">
    </div>

    <div class="form-group">
        <label>address</label>
        <input type="text" class="form-control" palceholder="address" name="address">
    </div>

    <div class="form-group">
        <label>city</label>
        <input type="text" class="form-control" palceholder="city" name="city">
    </div>

    <div class="form-group">
        <label>state</label>
        <input type="text" class="form-control" palceholder="state" name="state">
    </div>

    <div class="form-group">
        <label>zipCode</label>
        <input type="text" class="form-control" palceholder="zipCode" name="zipCode">
    </div>

    <div class="form-group">
        <label>security</label>
        <input type="text" class="form-control" palceholder="security" name="security">
    </div>

    <div class="form-group">
        <label>answer</label>
        <input type="text" class="form-control" palceholder="answer" name="answer">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

